* {
  margin: 0;
}
.app {
  background-color: #FAFAFA;
  height: 100vh;
}
.app__header {
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
}
.app__headerImage {
}
